body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-container {
    width: 100%;
    height: 70px;
    justify-content: center; 
    align-items: center;
    display:flex;
}
.banner-block {
    width: 100%;
    height: auto;
    text-align: center;
}

.banner-block > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    font-family: "object-fit: cover";
}

.block-search {
    float: left !important;
}
.panel.header{
    text-align: right;
}


.banner {
    float: right;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    background-color: #fff;
}

.menu-item {
    text-align: center;
    width: 100%;
}

.menu-item img {
    width: 100%;
    max-width: 300px; 
    height: 150px;
}

.banner-a{
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 25px; 
}

.banner-a .slider{
    width: 100%;
}
.banner-a .abc {
    width: 100%;
}

.banner-a .slider {
    height: auto;
    width: 100%;
}
.banner-a .slider > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.banner-a .abc > img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.selling-feature .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    text-align: center;
}

.selling-feature .container img {
    object-fit: cover;
}

.product-info {
    text-align: center;
    border: 1px solid #ddd; 
    word-wrap: break-word;
    height: auto;

}

.product-info h4 {
    margin: 0;
    font-size: 18px; 
}

.product-info p {
    margin: 0;
    font-size: 14px; 
}

.product-title > h2 {
    font-weight: bold;
}

.slider {
    width: 100%;
  }
  .slider .slick-slide img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  