.block-search {
    float: left !important;
}
.panel.header{
    text-align: right;
}
.wrapper {
    float: left;
}

.banner {
    float: right;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
}

.menu-item {
    text-align: center;
}

.menu-item img {
    width: 100%;
    max-width: 200px; 
    height: auto;
}

.banner-container {
    width: 100%;
    height: 70px;
}

.banner-container > img {
    width: 100%;
    height: 70px;
}

.wrapper img {
    height: 300px;
    width: 100%;
}